<style>
	
	.container{
		background-position: center;
		color : white;
	}
	.head-div{
		height:30vh;
	}
	.index-head {
		text-align: center;
		font-weight: bold;
		text-shadow: -1vh -1vh black;
	}
	.gab{
		height: 5vh;
	}
	.item-center{
		text-align: center;
		position: relative;
		width:100%;
		display: flex;
	}
	.item-inline{
		flex: 1;
	}
	.item-inline>form>button{
		width: 80%;
		height: 30vh;
		background-color: rgba( 255, 255, 255, 0.4);
	}
	.syn-div{
		text-align: center;
	}
	.syn-div>form>button{
		width: 90%;
		height: 5vh;
		background-color: rgba( 255, 255, 255, 0.4);
	}
	
	.index-head{
		font-size:25vw;
	}
	p{
		font-size : 2vh;
	}
	.item-inline>form>button{
		font-size : 7vw;
	}
	.syn-div>form>button{
		font-size:2vh;
	}
</style>
